<footer class="pt-2 my-md-5 pt-md-5 border-top">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
  <p class="float-right">
    <%= link_to 'Locus Ubi Vendere - 2018', user_session_path, class:'badge badge-pill badge-light' %>
  </p>
</div>
<div class="col-md-4">
</div>
</div>
</footer>
