<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Categories', categories_path %></li>
  <li><%= link_to pluralize(current_cart.items_count, 'item'), cart_path %></li>
  <li><%= link_to 'Kitchen page', open_orders_path %></li>
</ul>
