<h2>Checkout</h2>

<%= form_for @order, url: checkout_path do |f| %>

  <div class="form-group"> 
    <%= f.label :table %>
    <%= f.text_field :table %>
  </div>

  <%= f.submit 'Submit Order' %>

<% end %>

